<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />

    <title>Register</title>
  </head>

  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message|capitalize }} 
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <div class="register">
      <img class="logo" src="{{ url_for('static', filename='adani_logo.png') }}" alt="Adani Logo" />
      <form method="POST" enctype='multipart/form-data'>
        <h1>REGISTER</h1>

        <div style="text-align: center;">
          <label class="img-upload-btn">
            <img class="placeholder" src="{{ url_for('static', filename='placeholder.jpg') }}" />
            <input
              required
              class="profile-pic"
              onchange="readURL(this);"
              type="file"
              name="image"
              accept="image/*"
            />
          </label>
        </div>

        <div class="form-group">
          <input
            required
            class="form-control"
            type="text"
            placeholder="Full Name"
            name="fullname"
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="email"
            placeholder="Email"
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <input
            required
            class="form-control"
            type="password"
            placeholder="Re-enter password"
            name="password"
          />
        </div>
        <div class="form-group">
          <select class="form-control" id="club-select" name="club" required>
            <option disabled selected>Choose a club</option>
            <option>Cultutal Club -- drama and creations</option>
            <option>Mechatronics Club -- hardware technical activities</option>
            <option>Programming Club -- hackathons and data quests</option>
            <option>Living and Welfare Club -- activities for hostel living and dining</option>
          </select>
        </div>

        <div class="events-list"></div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Register
          </button>
        </div>
        <a href="{{ url_for('login') }}"  class="login-link">Log In</a>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" ></script>
  </body>
</html>
