<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />

    <title>Search</title>
  </head>
  <body>

{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
      {% endfor %}
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
      {% endfor %}
    {% endif %}
{% endwith %}




    <div class="search">
      <img class="logo" src="{{ url_for('static', filename='adani_logo.png') }}" alt="Adani Logo" />

        <form method="POST">
          <div class="form-group">
            <input
            required
            class="form-control"
            type="email"
            placeholder="Search user details based on email"
            name="email"
           />
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
                  Search
            </button>
          </div>
        </form>
    </div>

    {% if check %}
    <div class="safwan">
      <h3>Name :  <span>{{check.name}}</span> </h3><br>
      <h3>Email :  <span>{{check.email}}</span> </h3><br>
      <h3>Club :  <span>{{check.club}}</span> </h3><br>
      <h3>Event :  <span>{{arr}}</span> </h3><br>
    </div>
    {% endif %}


  </body>
</html>
